/* App.css */

/* Smooth fade-in for the content */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out;
}

/* Gradient Animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

/* Circular blob animation */
@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(-50px, -30px) scale(1.2);
  }
  50% {
    transform: translate(30px, 50px) scale(0.8);
  }
  75% {
    transform: translate(-30px, 20px) scale(1.1);
  }
}

.bg-animation {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(255, 165, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  border-radius: 50%;
  animation: blob 15s infinite;
}

.bg-animation:nth-child(2) {
  top: 300px;
  left: 500px;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 165, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  animation-duration: 20s;
}
